// Then import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // create color variables using CSS custom properties
  --primary-color: #2441e6;
  --secondary-color: #f7df1e;
  --black-color: #00174f;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: lighter;
}

h2 {
  font-size: 2.375rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

// Helpers text classes
.text-primary {
  color: var(--primary-color);
}

.text-black {
  color: var(--black-color);
}

.text-white {
  color: #fff;
}

// Background color classes
.bg-primary {
  background-color: var(--primary-color);
}

// Header component
.header {
  height: 728px;
  padding: 56px 0px 144px 128px;
  background-image: url("../../public/images/hero-background.png");
  background-size: cover;
  background-position: center;

  .header__container {
    height: 100%;

    .header__logo {
      margin-bottom: 114px;
    }

    .header__info {
      width: 40%;

      h1 {
        margin-bottom: 31px;
      }

      h3 {
        margin-bottom: 44px;
      }
    }
  }
}

// Services component
.services {
  .services__container {
    .services__content {
      margin-top: 30px;
      gap: 74px;
      .services__card {
        width: 30%;

        &:nth-child(2) {
          margin-top: 50px;
        }

        h3 {
          margin-bottom: 25px;
        }

        .service__card__description {
          margin-bottom: 10px;
          gap: 14px;

          svg {
            flex-shrink: 0;
            margin-top: 18px;
          }
        }
      }
    }
  }
}

.benefits {
  border-radius: 30px;
  padding: 27px 160px;

  .benefits__container {
    .benefits__stats {
      gap: 49px;
      .stats__card {
        width: 287px;
        span {
          font-size: 80px;
          font-weight: 700;
        }
      }
    }
    .benefits__contact {
      margin-top: 46px;
      padding: 78px 92px 24px 92px;
      border-radius: 30px;
      gap: 73px;

      .benefits__contact__title {
        width: 30%;
        img {
          margin-top: 50px;
        }
      }

      .benefits__form {
        width: 100%;
        .form-group {
          margin-bottom: 13px;
          label {
            font-size: 16px;
            font-weight: 600;
            font-family: "Noto Sans", serif;
          }
          input,
          textarea {
            border-radius: 0;
            border: none;
            background-color: #eeeeee;
            font-family: "Noto Sans", serif;

            &::placeholder {
              color: #c9c9c9;
              font-family: "Noto Sans", serif;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

// Logo component
.logo {
  font-size: 2rem;
  font-weight: normal;
}

.custom-btn-primary {
  height: 50px;
  padding: 10px 24px;
  font-size: 17px;
  font-weight: bold;
  background-color: var(--primary-color);
  border-radius: 5px;
  border-color: var(--primary-color);
}
